html {
    --brand-green: #076448;
    --dark-greee:#099268;
    --medium-green:  #20c997;
    --text-color: #212529;
}

* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

h1,h2,h3,h4 {
    font-family: Georgia,serif;
}

li {
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}


.nav-container {
    background-color:var(--medium-green);
}

.nav-container__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0.625em 0;
    align-items: center;
    
}


.home-link {
    color: black;
    font-weight: bold;
    font-family: Georgia,serif;
    text-decoration: none;
    font-size: 1.5em;   
}


.top-nav{
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.top-nav li a{
    display: block;
    padding: 0.3em 1.25em;
    color: white;
    background: var(--brand-green);
    text-decoration: none;
    border-radius: 3px;
    
}

.top-nav li:not(:last-child){
    margin-right:30px;
    
}

.top-nav li a  {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2a6048;
}
.hero {
    margin-bottom: 2.5rem;
    background: url(xbox.jpg) no-repeat;
    background-size: cover;
    
}

.hero__inner {
    max-width: 1080px;
    margin: 0 auto;
    color: white;
    padding: 50px 0px 200px;
    text-align: right;
}

.hero h2 {
    font-size: 1.95rem;
    margin-bottom: 5px;
}

.button {
    display:inline-block;
    padding: 0.4em 1em;
    color:#5fc69a;
    border: 2px solid #5fc69a;;
    text-decoration: none;
    font-size: 0.8rem;    
}

.button:hover{
    background-color: #5fc69a;
    color: white;
}

/* .button--cta {
    padding: 0.6em 1em;
    background-color: #5fc69a;
    border: none;
    color: white
} */


.container {
    margin: 0 auto;
    max-width: 1080px;
    
}

.tile-row {
    display: flex;
    margin-top: 2.5em;
    
}

.tile-row > * {
    flex: 1;
}

.tile-row .tile:not(:last-child){
    margin-right: 1.5625em;
}

.tile {
    background-color: rgba(242, 169, 59,0.3);
    border-radius: 0.3em;
    padding: 20px;
}


.tile p {
    margin-top: 10px;
}

.tag-list {
    /* margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.tag-list li {
    display: inline;
    border: 1px solid #5fc69a;
    background-color: rgba(122, 196, 157,0.7);
    padding: 5px 10px;
    border-radius: 0.2rem;
    line-height: 2.6;
}


.tile a {
    margin-top: 20px;
}

